* {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	object-fit: cover;
}

body {
	background: #ddd;
}

#table-inventory-container table {
	margin: 0;
}

.site-menu-content {
	position: fixed;
	left: 0;
	top: 0;
	width: 280px;
	background: #333;
	height: 100%;
	z-index: 100;
	color: #eee;
	overflow: scroll;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 100;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	-webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.site-menu-button {
	position: fixed;
	left: 280px;
	top: 0;
	padding: 16px;
	z-index: 50;
	-webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.site-menu-item {
	border-width: 0;
    border-left: 8px solid #333;
	display: block;
	padding: 8px;
	cursor: pointer;
	transition: all 0.155s;
}

.site-menu-item-selected {
	background: #484848;
}

.site-menu-item-selected,
.site-menu-item:hover {
	border-left: 8px solid #ccc;
}

.site-content-container {
	background: #fff;
	padding: 40px 16px 0;
	width: calc(100% - 280px * 2);
	margin-left: 280px;
	position: fixed;
	z-index: 0;
	height: 100%;
	-webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

#table-inventory-container {
	overflow: auto;
    height: calc(100vh - 176px);
    position: relative;
    border-spacing: 0;
    border-collapse: collapse;
}

#table-update-overlay {
	background:rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

#update-spinner {
	position: absolute;
	right: 50%;
	bottom: 50%;
	margin: -36px;
}

.no-data-available {
	text-align: center;
}

.edit-entry {
    width: 100%;
	height: 100%;
	max-width: 100%;
	margin: 0;
	background-color: #fcf8e3;
	border: 1px solid #ccc;
}

#site-inventory-buttons-container {
	margin-top: 16px;
}

#upload-file-button {
	width: 0;
	height: 0;
	outline: none;
}

.inventory-filter-button {
	position: fixed;
	right: 280px;
	top: 0;
	padding: 16px;
	z-index: 50;
	-webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.inventory-filter-content {
	position: fixed;
	width: 280px;
	background: #333;
	right: 0;
	top: 0;
	padding: 16px;
	color: #eee;
	overflow: scroll;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	z-index: 100;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	-webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.menu-background-overlay {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 75;
    background-color: #000;
    opacity: 0;
}

.snackbar {
	position: fixed;
	bottom: 0;
	width: calc(100% - 280px * 2 - 16px * 2);
	padding: 16px 24px;
	background-color: #333;
	color: #eee;
	border-radius: 4px 4px 0 0;
}

@media screen and (max-width: 1200px) {
	.site-menu-content {
		left: -280px;
		box-shadow: none;
	}

	.site-menu-button {
		left: 0;
	}

	.site-content-container {
		width: 100%;
		margin: 0;
	}

	.inventory-filter-content {
		right: -280px;
		box-shadow: none;
	}

	.inventory-filter-button {
		right: 0;
	}

	.menu-background-overlay {
		opacity: 0.5;
	}

	.snackbar {
		width: calc(100% - 16px * 2);
	}
}

.side-menu-left-open {
	left: 0;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.side-menu-right-open {
	right: 0;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}